body {
  background: linear-gradient(45deg, #630132b2, rgb(234, 234, 234), #630132b2);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

#calculator {
  background-color: #a34172;
  border-radius: 15px;
  max-width: 90%;
  width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: pulse infinite 3s;
}

#calculator:hover {
  animation-play-state: paused;
}

#display {
  color: #7a0d44;
  width: 100%;
  padding: 15px;
  font-size: 2rem;
  text-align: right;
  border: none;
  background-color: rgb(244, 199, 199);
  border-radius: 8px;
  margin-bottom: 20px;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

button {
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  background-color: rgb(234, 234, 234);
  color: #630132;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgb(244, 244, 244);
  transform: scale(1.05);
}

button:active {
  background-color: rgb(255, 255, 255);
  transform: scale(1.05);
}

.operator-button {
  background-color: #ffffff57;
  color: rgb(255, 255, 255);
}

.operator-button:hover {
  background-color: #ffffff91;
  transform: scale(1.05);
}

.operator-button:active {
  background-color: rgba(233, 233, 233, 0.747);
  transform: scale(1.05);
}

#modebut {
  margin: 20px auto;
  display: block;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  #calculator {
    padding: 10px;
  }
  button {
    padding: 10px;
    font-size: 1rem;
  }
  #display {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  #calculator {
    max-width: 100%;
  }
  button {
    padding: 8px;
    font-size: 0.9rem;
  }
  #display {
    font-size: 1.2rem;
  }
}
